<div class="log-out">
  <%= link_to destroy_user_session_path, method: :delete do %><button class="btn-log-out">ログアウト</button> <% end %>
</div>

<div class="inner">
  <div class="greeting">
    Welcom!
    <%= link_to "#{current_user.nickname}さん", "#", class: :greeting__link %>
  </div>
</div>
<div class="menu-top">
  <div class="menu">
    <%= link_to new_customer_path do %><button class="btn-new-customer">顧客登録</button> <% end %>
  </div>
  <div class="menu">
    <%= link_to '#' do %><button class="btn btn-search-customer">顧客検索</button> <% end %>
  </div>
</div>
  <div class="menu-bottom">
    <div class="customer-font">顧客リスト
    </div>
    <div class="customer-list">
      <%= render partial: "customer", collection: @customers %>
    </div>
  </div>
</div>
