<div class="customer-show">
  <div class="customer-box">
    <div class="customer-kana-box">
      <span class="customer-kana">
        <%= "#{@customer.last_name_kana}" %>
      </span>
      <span class="customer-kana">
        <%= "#{@customer.first_name_kana}" %>
      </span>
    </div>
    <div class="name">
      <%= "#{@customer.last_name} #{@customer.first_name} 様" %>
    </div>

    <div class="item-explain-box">
      <span><%= @customer.gender.name %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">電話番号</th>
          <td class="detail-value"><%= @customer.phone_number %></td>
        </tr>
        <tr>
          <th class="detail-item">メールアドレス</th>
          <td class="detail-value"><%= @customer.email %></td>
        </tr>
        <tr>
          <th class="detail-item">生年月日</th>
          <td class="detail-value"><%= @customer.birthday %></td>
        </tr>
        <tr>
          <th class="detail-item">郵便番号</th>
          <td class="detail-value"><%= @customer.postal_code %></td>
        </tr>
        <tr>
          <th class="detail-item">住所</th>
          <td class="detail-value"><%= "#{@customer.prefecture.name}#{@customer.city}#{@customer.address}#{@customer.building}" %></td>
        </tr>
      </tbody>
    </table>
    
    <ul style= "list-style: none;", class="sell-btn-contents">
      <li><%= link_to "施術履歴を見る", customer_hair_removals_path(@customer), class:"removal-history"%></li>
      <li><%= link_to "顧客情報を編集する", edit_customer_path, class:"edit-btn" %></li>
      <li><%= link_to 'もどる', root_path, class:"back-btn" %></li>
    </ul>
  </div>
</div>
